/*
 * ─── GENERAL ────────────────────────────────────────────────────────────────────
 */

 :root {
    --trasition-speed: .4s ease-out;
    --font-family: "Open Sans";
    --primary-color: #e100ff;
    --secondary-color: #7f00ff;
    --color-red: #ff7675;
    --color-blue: #0984e3;
    --color-green: #00b894;
    --color-yellow: #fdcb6e;
}

body {
    -webkit-font-smoothing: antialiased !important;
}

input,
button,
textarea {
    font: 400 14px var(--font-family), sans-serif;
    outline: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}


/*
 * ─── MESSAGE ────────────────────────────────────────────────────────────────────
 */

.message {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #636e72;
    border-left-width: 50px;
    border-radius: 4px;
    color: #636e72;
    font-size: 1em;
    font-weight: 100;
    width: 100%;
}

.form_ajax {
    padding: 0 20px 0 20px;
}

.message.info {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.message.error {
    border-color: var(--color-red);
    color: var(--color-red);
}

.message.success {
    border-color: var(--color-green);
    color: var(--color-green);
}